body {
  background: url("back_g.jpg") no-repeat center center fixed;
  position: relative;
}

.wrapper_clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 10px;
}

.clock {
  background: #ffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 1px 8px 1px #bca5ce;
}

#date_instance .datepicker-inline {
  width: 500px;
  height: 300px;
}

#date_instance .datepicker-days,
#date_instance .datepicker-months,
#date_instance .datepicker-years,
#date_instance .datepicker-decades,
#date_instance .datepicker-centuries {
  height: 100%;
  width: 100%;
}

#date_instance .table-condensed {
  height: 100%;
  width: 100%;
}

/* Dành cho điện thoại */
@media all and (min-width: 320px) {
  #date_instance .datepicker-inline {
    width: 300px;
    height: 300px;
  }
}

/* Dành cho máy tính bảng chiều dọc */
@media all and (min-width: 600px) {
}

/* Dành cho máy tính bảng chiều ngang */
@media all and (min-width: 1024px) {
}
