body {
  background: url("back_g.jpg") no-repeat center center fixed;
}

.wrapper_clock {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.clock {
  background: #ffff;
  border-radius: 10px;
  padding: 10px;
}
